
*.json
*.png
*env
*pairgreedy
*a3m
*done.txt

*rank_002*
*rank_003*
*rank_004*
*rank_005*

*mdcrd
stdout*
*log
*out*
*info
*.nc
*rst
average*
*dat
*mmgbsa_calculation*
*mmpbsa_calculation*
*dcd*
*replicate_*